*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}
.section{
    width: 100%;
    height: 700px;
    background-image: url(../images/uuu.jpg);
    background-size: cover;
    position: relative;
}
 .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.clear{
    clear:both;
 } 
   /* start header */
header ul{
    list-style-type: none;
}
header ul li {
    display: inline-block;
    float: right;
    margin-top: 19px;
    margin-right: 50px;
    font-size: 23px;
    color: #fff;

}
header h1{
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 150px;
    font-size: 30px;
    color: #fff;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
header ul li:hover a{
    color: red;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
} 
/* end header */
/* start div .boxes */
div .boxes{
    width: 1300px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
} 
/* start div .box */
div .boxes .box{
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 10px;
}
div .boxes .box h1{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
div .boxes .box h1 span{
    color: orange;
}
div .boxes .box p{
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
}
div .boxes .box .p1{
   font-size: 15px;
}
div .boxes .box p::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background-color: #fff;
    margin-top: 20px;
}
div .boxes .box a{
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 7px;
    background-color: transparent;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
div .boxes .box a:hover{
    background-color: orange;
    color: #fff;
    transform: scale(1);
    border: 1px solid orange;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px orange;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* end div .box */
/* start div .box1 */
div .boxes .box1{
    width: 300px;
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    margin-right: 230px;    
}
div .boxes .box1 h1 span{
    color: orange;
}
div .boxes .box1 h1{
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid #fff;
}
div .boxes .box1 .in1{
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 28px;
    padding: 20px;
    border: 1px solid #fff;
    border-bottom: 1px solid #000;   
}
div .boxes .box1 .in2{
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 28px;
    padding: 20px;
    border: 1px solid #fff;
    border-bottom: 1px solid #000;
}
div .boxes .box1 .in3{
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 28px;
    padding: 20px;
    border: 1px solid #fff;
    border-bottom: 1px solid #000;
}
div .boxes .box1 .in4{
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 30px;
    padding: 15px 20px;
    background-color: orange;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 210px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
div .boxes .box1 .in4:hover{
    background-color: orange;
    color: #fff;
    border-radius: 15px;
    transform: scale(1);
    box-shadow: 0px 0px 10px 2px orange;
    border: 1px solid orange;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
input{
    border: 1px solid #000;
}
input:focus{
    outline: none;
}
/* end div .box1 */
/* start section .sec */
.sec{
    padding: 10px;
    background-color: #fff;
    
}
/* start divv */
.sec .divv{
    width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
/* start divv.soc */
.sec .divv .soc{
    width: 300px;
    padding: 10px;
    background-color: #fff;
}
.sec .divv .soc h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.sec .divv .soc p{
    color: #000;
}
/* end divv soc */
/* start divv.soc1 */
.sec .divv .soc1{
    width: 600px;
    padding: 10px;
    background-color: #fff;
    margin-left: 30px;
}

.sec .divv .soc1 ul{
    list-style-type: none;
}
.sec .divv .soc1 ul li{
    display: inline-block;
    margin-left: 50px;
}
.sec .divv .soc1 ul li i{
    font-size: 30px;
    color: blue;
}
/* end divv.soc1 */
.section2{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    
}
/* start section2 .one */
.section2 .one{
    width: 100%px;
    padding: 10px;
    margin: 20px auto;
    background-color: floralwhite;
    display: flex;
    justify-content: space-between;
}
/* start section2 .one .div1 */
.section2 .one .div1{
    width: 100px;
    padding: 10px;
    margin-left: 20%;
}
.section2 .one .div1 ul{
    list-style-type: none;
}
.section2 .one .div1 ul li{
    border: 1px solid #000;
    padding: 20px;
}
.section2 .one .div1 ul .span1 li{
   color: #fff;
   background-color: orange;
}
.section2 .one .div1 ul .span2 li{
   color: #000;
   background-color: blue;
}
.section2 .one .div1 ul .span3 li{
    color: #000;
   background-color: blue;
}
/* end section2 .one .div1 */
/* start .section2 .one .div2 */
.section2 .one .div2{
    width: 400px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin-right: -2%;
}
.section2 .one .div2 h4{
    border: 1px solid orange;
    background-color: orange;
    color: #fff;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}
.section2 .one .div2 p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}
/* end .section2 .one .div2 */
/* start .section2 .one .div3 */
.section2 .one .div3{
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin-right: 18%;
}
/* end .section2 .one .div3 */
/* start section .text */
section .text{
    /* width: 100%; */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    display: flex; 
    justify-content: center; 
}
/* start section .text .text1 */
section .text .text1{
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/aaaa.jpg);
    background-size: cover !important;
    margin-top: 40px;
}
/* start section .text .text2 */
section .text .text2{
    width: 40%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}
section .text .text2 h1{
    color: #000;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 20px;
}
section .text .text2 p{
    margin-left: 60px;
    color: rgba(0, 0, 0, 0.5);
}
section .text .text2 p.ll{
    margin-left: 13%;
}
section .text .text2 h3{
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 50px; 
}
section .text .text2 h3 i{
     font-size: 18px;
     width: 22px;
     height: 22px;
     margin-right: 15px;
     color: orange;
     text-align:center ;
}
section .text .text2 h3 div {
    width: 40px;
    height: 40px;
    border: 2px solid orange;
    display: inline-block;
    background-color: #fff;
    padding: 10px 10px;
    margin-left: -30px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
section .text .text2 h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: orange;
    margin-top: 15px;
}
/* end section .text .text2 */
/* start tops */
section .top{
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
}
/* start top1 */
section .top .top1{
    width: 50%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}
section .top .top1 h1{
    color: #000;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 38%;
}
section .top .top1 p{
    margin-left: 38%;
    color: rgba(0, 0, 0, 0.5);
}
section .top .top1 h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: orange;
    margin-top: 15px;
} 
section .top .top1 h3{
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40%;
}
section .top .top1 h3 i{
    font-size: 18px;
     width: 22px;
     height: 22px;
     margin-right: 15px;
     color: orange;
     text-align:center ;
}
section .top .top1 h3 div{
    width: 40px;
    height: 40px;
    border: 2px solid orange;
    display: inline-block;
    background-color: #fff;
    padding: 10px 10px;
    margin-left: -30px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
}
section .top .top1 .bb{
    margin-left: 43%;
}
/* start top2 */
section .top .top2{
    width: 300px;
    height: 200px;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../images/aaaa.jpg);
    background-size: cover !important;
}
/* end top2 */
/* start section.ha */
section.ha{
    background-color: #fff;
    padding: 20px;
}
section.ha h3{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    word-spacing: 3px;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 60px;
 }
 section.ha h3::after{
     content: "";
     display: block;
     width: 40px;
     background-color: orange;
     margin-top:20px;
     height: 2px;
     margin: 12px auto;
 }
 section.ha p{
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
 }
 /* end section.ha */
 /* start section.ha .hala */
section.ha .hala{
    background-color: #fff;
    width: 1200px;
    padding: 10px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
}
/* end section.ha .hala */
/* start section.ha .hala.hala1 */
section.ha .hala .hala1{
    background-color: #fff;
    width: 350px;
    padding: 10px;
}
section.ha .hala .hala1 i{
     text-align: center;
     font-size: 30px;
     border: 1px solid orange;
     padding: 6px 12px;
     border-radius: 50%;
     color: orange;
     margin-bottom: 10px;
     margin-left: 140px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}
section.ha .hala .hala1 h6{
    font-size: 18px;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
section.ha .hala .hala1 p{
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
}  
 /* end section.ha .hala.hala1 */
/* start section.ha .hala.hala2 */
section.ha .hala .hala2{
    background-color: #fff;
    width: 350px;
    padding: 10px;
}
section.ha .hala .hala2 i{
    text-align: center;
     font-size: 30px;
     border: 1px solid orange;
     padding: 10px 12px;
     border-radius: 50%;
     color: orange;
     margin-bottom: 10px;
     margin-left: 140px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}
section.ha .hala .hala2 h6{
    font-size: 18px;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
section.ha .hala .hala2 p{
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
}
/* end section.ha .hala.hala2 */
/* start section.ha .hala.hala3 */
section.ha .hala .hala3{
    background-color: #fff;
    width: 350px;
    padding: 10px;
}
section.ha .hala .hala3 i{
    text-align: center;
     font-size: 30px;
     border: 1px solid orange;
     padding: 10px 12px;
     border-radius: 50%;
     color: orange;
     margin-bottom: 10px;
     margin-left: 140px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}
section.ha .hala .hala3 h6{
    font-size: 18px;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
section.ha .hala .hala3 p{
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
}
/* end section.ha .hala.hala3 */
/* start section.ml */
section.ml{
    background-color: #eee;
    padding: 20px;
}
section.ml h5{
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: normal;
}
section.ml h5::after{
    content: "";
    display: block;
    background-color: orange;
    width: 40px;
    height: 2.5px;
    margin: 15px auto;
}
section.ml p{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
} 
/* end section.ml */
  /* start section.ml .mm */
section.ml .mm{
    background-color: rgba(255, 255, 255, 0);
    width: 810px;
    padding: 20px;
    margin:  auto;
    display: flex;
    font-family: cursive;
}
   /* start section.ml .mm .m1 */
section.ml .mm .m1{
    width: 270px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 37px;
    flex: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
section.ml .mm .m1 ul{
    list-style-type: none;
}
section.ml .mm .m1 ul li.basic{
    border: 1px solid #000;
    border-bottom: 1px solid #fff ;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    border-bottom: #fff;
}
section.ml .mm .m1 ul li{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: normal;
}
section.ml .mm .m1 ul li.lii{
    padding: 18px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 4px solid orange;
}
section.ml .mm .m1 ul li.lii h3{
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    font-weight: normal;
}
section.ml .mm .m1 ul li.lii span{
    font-size: 28px;
    font-weight: bold;
}
section.ml .mm .m1:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* end section.ml .mm .m1 */
/* start section.ml .mm .m2 */
section.ml .mm .m2{
    width: 300px;
    padding: 20px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
section.ml .mm .m2 ul{
    list-style-type: none;
}
section.ml .mm .m2 ul li.pro{
    border: 1px solid #000;
    border-bottom: 1px solid #fff ;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -20px;
    border-bottom: #fff;
}
section.ml .mm .m2 ul li.ll{
    padding: 18px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid orange;
    
}
section.ml .mm .m2 ul li.ll h3{
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    font-weight: normal;
}
section.ml .mm .m2 ul li.ll span{
    font-size: 28px;
    font-weight: bold;
}
section.ml .mm .m2 ul li{
    
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: normal;
}
section.ml .mm .m2 ul li.our{
    background-color: orange;
    color: #fff;
}
section.ml .mm .m2:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* end section.ml .mm .m2 */
/* start section.ml .mm .m3 */
section.ml .mm .m3{
    width: 270px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 37px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
section.ml .mm .m3:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
section.ml .m3 ul{
    list-style-type: none;
}
section.ml .m3 ul li.in{
    border: 1px solid #000;
    border-bottom: 1px solid #fff ;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    border-bottom: #fff;
}
section.ml .m3 ul li.a{
    padding: 18px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 4px solid orange;
}
section.ml .m3 ul li span{
    font-size: 28px;
    font-weight: bold;
}
section.ml .m3 ul li h6{
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    font-weight: normal;
}
section.ml .m3 ul li{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: normal;
}
/* end section.ml .mm .m3 */
/* start section.lo */
section.lo{
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}
section.lo h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    word-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 30px;
}
section.lo p{
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 18px;
}
/* start section.lo .tab */
section.lo .tab{
    width: 1000px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
/* start section.lo .tab .tab1 */
section.lo .tab .tab1{
    width: 300px;
    padding: 10px;
    background-color: #eee;
}
section.lo .tab .tab1 p{
    text-align: left;
}
/* end section.lo .tab .tab1 */
/* start section.lo .tab .tab2 */
section.lo .tab .tab2{
    width: 300px;
    padding: 10px;
    background-color: #eee;
}
section.lo .tab .tab2 p{
    text-align: left;

}
/* end section.lo .tab .tab2 */
/* start section.lo .tab .tab3 */
section.lo .tab .tab3{
    width: 300px;
    padding: 10px;
    background-color: #eee;
}
section.lo .tab .tab3 p{
    text-align: left;
}
/* end section.lo .tab .tab3 */
/* start section.rr */
section.rr{
    width: 100%;
    height: 200px;
    background-image: url(../images/aaaa.jpg);
    background-size: cover !important;
    position: relative;
}
/* start section.rr .over */
section.rr .over{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
section.rr .over h1{
    color: rgba(255, 255, 255,0.8);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: normal;
    word-spacing: 2px;
}
section.rr .over h1::after{
    content: "";
    display: block;
    width: 70px;
    background-color: #fff;
    margin: 15px auto;
    height: 2px;
}
section.rr .over p{
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}
section.rr .over a{
    margin-left: 47%;
    font-size: 20px;
    border: 2px solid #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    background-color: transparent;
    color: #fff;
    padding: 8px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
section.rr .over a:hover{
    background-color: pink;
    color: rgba(0, 0, 255, 0.6);
    border: 1px solid rgba(0, 0, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 255, 0.3);
    transform: scale(1.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* end section.rr .over */
/* start section.contact */
section.contact{
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
section.contact h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
}
section.contact h2::after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: orange;
    margin: 15px auto;
}
section.contact p{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}
section.contact .form{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 30px;
}
section.contact .form input{
    display: block;
    margin-top: 22px;
    margin: 0% 22%;
}
section.contact .form .in{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 15px;
}
section.contact .form .in1{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
section.contact .form .in2{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
section.contact .form a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid orange;
    background-color: orange;
    color: #fff;
    padding: 5px;
    margin: 0% 45%;
}
section.contact .form a:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 7px orange;
    transform: scale(1.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* end section.contact */
/* start footer */
footer{
    width: 100%;
    padding: 20px;
    background-color: black;
    margin-top: 40px;
}
footer h6{
    text-align: center;
    font-size: 22px;
    color: rgba(255, 255, 255,0.8);
    word-spacing: 2px;
}
footer h6 i{
    color: rgba(255, 0, 0,0.8);
    font-size: 20px;
}
/* end footer */
@media (min-width: 320px) and (max-width: 767px) {
    header h1{
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
        color: orange;
    }
    header ul li {
        display: inline-block;
        margin-top: 19px;
        margin-right: 25px;
        font-size: 20px;
        color: #fff;
    }
    div .boxes{
        width: 600px;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
    }
    div .boxes .box{
        width: 220px;
        background-color: rgba(0, 0, 0, 0);
        padding: 10px;
        margin-left: 0px;
    }
    div .boxes .box p{
        font-size: 10px;
        color: #fff;
        font-family: tahoma;
        margin-bottom: 10px;
    }
    div .boxes .box .p1{
        font-size: 10px;
     }
     div .boxes .box1{
        width: 300px;
        background-color: #fff;
        margin-right: 30px;     
    }
    div .boxes .box1 h1{
        font-size: 18px;
        color: rgba(0, 0, 0, 0.9);
        border: 1px solid #fff;
    }
    .sec .divv{
        width: 600px;
        padding: 10px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
    }
    .sec .divv .soc{
        width: 300px;
        background-color: #fff;
        margin-left: 0px;
    }
    .sec .divv .soc1{
        width: 300px;
        padding: 10px;
        background-color: #fff;
        margin-left: 10px;
    }
    .sec .divv .soc p{
        color: #000;
        font-size: 10px;
        margin-left: 0px;
    }
    .sec .divv .soc1 ul li{
        display: inline-block;
        margin-left: 0px;
    }
    .sec .divv .soc1 ul li i{
        font-size: 25px;
        color: blue;
    }
    .section2 .one .div1{
        width: 100px;
        margin-left: 0%;
    }
    .section2 .one .div2{
        width: 400px;
        background-color: rgba(255, 255, 255, 0);
        padding: 10px;
        margin-right: 0%;
    
    }
    .section2 .one .div3{
        width: 180px;
        background-color: rgba(255, 255, 255, 0);
        padding: 10px;
        margin-right: 0%;
    }
    .section2 .one .div2 p{
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 10px;
    }
    section .text .text1{
        width: 200px;
        height: 200px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
        background-image: url(../images/aaaa.jpg);
        background-size: cover !important;
    }
    section .text .text2{
        width: 60%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }
    section .text .text2 h1{
        color: #000;
        margin-bottom: 10px;
        font-weight: bold;
        margin-top: 2px;
    }
    section .text .text2 p.pp{
        margin-left: 10%;
    }
    section .text .text2 h3{
        color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section .text .text2 h3 i{
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    section .text .text2 h1 ::after{
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background-color: orange;
    }
    section.lo .tab{
        width: 1000px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        
    }
    section .top .top2{
        width:200px;
        height: 200px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
        background-image: url(../images/aaaa.jpg);
        background-size: cover !important;
    }
    section .top .top1 h1{
        color: #000;
        font-size: 20px;
        margin-bottom: 11px;
        font-weight: bold;
        margin-top: 2px;
        margin-left: 20%;
    }
    section .top .top1 p.pp{
        margin-left: 20%;
    }
    section .top .top1 h3{
        color: rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25%;
    }
    section .top .top1 p.bb{
        margin-left: 20%;
    }
    section .top .top1 h3 i{
       font-size: 25px;
       width: 20px;
       height: 20px;
       margin-right: 15px;
    }
    section.ha .hala{
        background-color: #fff;
        width: 480px;
        padding: 10px;
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
    }
    section.ha .hala .hala1{
        background-color: #fff;
        width: 150px;
        padding: 10px;
    }
    section.ha .hala .hala2{
        background-color: #fff;
        width: 150px;
        padding: 10px;
    }
    section.ha .hala .hala3{
        background-color: #fff;
        width: 140px;
        padding: 10px;
    }
    section.ha .hala .hala1 i{
        text-align: center;
        font-size: 30px;
        border: 1px solid orange;
        padding: 6px 12px;
        border-radius: 50%;
        color: orange;
        margin-bottom: 10px;
        margin-left: 37px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
   }
    section.ha .hala .hala2 i{
    text-align: center;
     font-size: 30px;
     border: 1px solid orange;
     padding: 10px 12px;
     border-radius: 50%;
     color: orange;
     margin-bottom: 10px;
     margin-left: 37px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
   }
   section.ha .hala .hala3 i{
    text-align: center;
     font-size: 30px;
     border: 1px solid orange;
     padding: 10px 12px;
     border-radius: 50%;
     color: orange;
     margin-bottom: 10px;
     margin-left: 37px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
   }
   section.ml .mm{
    background-color: rgba(255, 255, 255, 0);
    width: 480px;
    padding: 20px;
    margin:  auto;
    display: flex;
    
   }   
    section.ml .mm .m1{
    width: 160px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    }
    section.ml .mm .m2{
        width: 160px;
        background-color: rgba(255, 255, 255, 0);
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    section.ml .mm .m3{
        width: 160px;
        background-color: rgba(255, 255, 255, 0);
        margin-top: 20px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    section.lo h3{
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        /* word-spacing: 2px; */
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 15px;
    }
    section.lo p{
        text-align: center;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 18px;
    }
    section.lo .tab{
        width: 480px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
        margin: 0px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    section.lo .tab .tab1{
        /* width: 170px; */
        flex: 1;
        padding: 10px;
        background-color: mintcream;
        margin: auto;
        margin-bottom: 15px;
    }
    section.lo .tab .tab2{
        /* width: 170px; */
        flex: 1;
        padding: 10px;
        background-color: mintcream;
        margin: auto;
        margin-bottom: 15px;
    
    }
    section.lo .tab .tab3{
        /* width: 170px; */
        flex: 1;
        padding: 10px;
        background-color: mintcream;
        margin: auto;
        margin-bottom: 15px;
    }
    section.lo .tab .tab1 p{
        text-align: left;
    }
    section.lo .tab .tab2 p{
        text-align: left;
    
    }
    section.lo .tab .tab3 p{
        text-align: left;
    }
    section.rr .over a{
        margin-left: 38%;
        font-size: 20px;
        border: 2px solid #fff;
        text-decoration: none;
        display: inline-block;
        margin-top: 15px;
        background-color: transparent;
        color: #fff;
        padding: 8px;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    section.contact .form a{
        display: inline-block;
        text-decoration: none;
        border: 1px solid orange;
        background-color: orange;
        color: #fff;
        padding: 5px;
        margin: 0% 30%;
    }
   
}
